/node_modules
node_modules

crm/node_modules
proxy/node_modules
/crm/node_modules
/proxy/node_modules

.dockerignore
dockerfile
docker-compose.yml
nginx.conf

yarn.lock
package-lock.json
crm/package-lock.json
crm/yarn.lock
proxy/yarn.lock
.env