*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ant-image-preview-operations-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1081;
    width: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

div.App {
    /* display: flex; */
    background-color: #eef0f8;
    width: 100%;
    min-height: 100%;
    position: relative;
    padding-bottom: 35px;
}

.App p {
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji !important;
}

.style {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    width: 525px;
    padding: 0 0 9px 9px;
    outline: none;
    color: #666666;
    font-size: 15px;
}

.style::placeholder {
    color: #666666;
}

p.required__field {
    color: red;
    margin-bottom: 0;
    text-align: left;
    transform: translateX(33%);
}

img.file, svg.file {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.view__doc .ant-modal-content {
    width: 100%;
}

.padding_30px {
    padding-left: 30px;
}

.display__flex {
    display: flex;
}

.display__block {
    display: block;
}

/* loading css */

.loading {
    position: absolute;
    height: -webkit-fill-available;
    width: calc(100% - 80px);
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
}

.loading>svg {
    height: 100%;
    font-size: 70px;
}

/* ------ Hêt loading ----------- */
/* sidebar */

.sidebar {
    width: 265px;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #459C60;
}

.sidebar .bg_pri_blue {
    background-color: #35794a;
}

.sidebar .sidebar__logo {
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.sidebar .sidebar__personal__information {
    width: 100%;
    padding: 14px 0 14px 23px;
}

.sidebar .sidebar__personal__information p {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.sidebar .sidebar__personal__information svg {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar .sidebar__sub__menu {
    padding: 10px 0;
}

.sidebar .sidebar__sub__menu ul {
    list-style-type: none;
    padding-left: 53px;
    margin: 0;
}

.sidebar .sidebar__sub__menu ul li a {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.sidebar_SubMenu__XZeb6 ul.ant-menu {
    background-color: #35794a;
}

.sidebar_SubMenu__XZeb6 ul li.ant-menu-submenu div svg {
    color: white;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.sidebar_SubMenu__XZeb6 .ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content {
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.sidebar_SubMenu__XZeb6 .ant-menu-submenu-arrow {
    color: white;
}

.sidebar_SubMenu__XZeb6 ul.ant-menu li.ant-menu-item {
    align-items: center;
    transition: all .3s;
}

.sidebar_SubMenu__XZeb6 ul.ant-menu li.ant-menu-item>svg {
    width: 20px;
    height: 20px;
    color: white;
}

.sidebar_SubMenu__XZeb6 .ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content,
.sidebar_SubMenu__XZeb6 .ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content {
    color: white;
    font-size: 16px;
    margin-left: 0;
}

.sidebar_SubMenu__XZeb6 .ant-menu-light .ant-menu-item-active,
.sidebar_SubMenu__XZeb6 .ant-menu-light .ant-menu-item:hover {
    background-color: white;
}

.sidebar_SubMenu__XZeb6 ul li.ant-menu-submenu ul.ant-menu .ant-menu-item-active span.ant-menu-title-content,
.sidebar_SubMenu__XZeb6 ul li.ant-menu-submenu ul.ant-menu .ant-menu-item-selected svg,
.sidebar_SubMenu__XZeb6 ul li.ant-menu-submenu ul.ant-menu .ant-menu-item:hover span.ant-menu-title-content,
.sidebar_SubMenu__XZeb6 ul li.ant-menu-submenu ul.ant-menu .ant-menu-item:hover svg,
.sidebar_SubMenu__XZeb6 ul li.ant-menu-submenu ul.ant-menu .ant-menu-item-selected span.ant-menu-title-content {
    color: black;
}

.sidebar_SubMenu__XZeb6 .ant-menu-inline .ant-menu-item:after {
    border-right: 3px solid #35796C;
}

.sidebar_SubMenu__XZeb6 .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-arrow {
    color: #8bc34a;
}

/* hết sidebar */

/* CSS Header */

.header {
    position: fixed;
    top: 0;
    left: 265px;
    width: calc(100% - 265px);
    height: fit-content;
    background-color: white;
    z-index: 10;
}

.header .header__infor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 28px;
    height: 65px;
    border-bottom: 1px solid #EEEFF3;
    ;
}

.header .header__infor .header__avtar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    margin-right: 17px;
    border-radius: 50%;
}

.header .header__infor .header__avtar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .header__infor p {
    margin-right: 21px;
}

.header .header__infor svg {
    cursor: pointer;
}

.header .header__infor p span {
    font-weight: bold;
}

.header .header__beadrum {
    height: 54px;
    padding-left: 36px;
}

.header .header__beadrum nav {
    line-height: 54px;
}

/* Hết CSS Header */
/* ----------------------------------------------- */
/* CSS customer table */

.customer__table {
    position: relative;
}

.App>div.content {
    height: fit-content;
    margin-left: 265px;
    margin-top: 119px;
    padding: 35px 40px 0 40px;
}
.customerType .ant-table-thead>tr>th{
    background: #29B171 !important;
    color: white;
    padding: 8px;
}
.customerType .ant-table-tbody>tr>td{
    padding: 8px;
    font-weight: bold;
}
.customerType .ant-table-content{
    border: 1px solid #29B171;
}
.customerType .ant-table-tbody>tr:nth-child(2n-1){
    background: #f4f5f6;
    border: 1px solid #29B171;
}
.customerType .ant-table-pagination-right{
    justify-content: center;
}

.customer__table table thead tr th {
    color: #A1A5B7;
    background-color: white;
}

.customer__table .ant-table-wrapper ul li.ant-pagination-item:hover,
.customer__table .ant-table-wrapper ul li.ant-pagination-item:hover a {
    border-color: #459C60;
    color: #459C60;
}

.customer__table .table__features {
    padding: 17px 30px;
    background-color: white;
    border-bottom: 1px solid #EEEFF3;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
}

.customer__table .table__features .table__features__add {
    margin-bottom: 13px;
}

.customer__table .table__features .table__features__add h1 {
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 28px;
}

.customer__table .table__features .table__features__add svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.customer__table .table__features .table__features__search {
    display: flex;
}

.customer__table .table__features .table__features__search__btn {
    text-align: right;
    width: calc(100% - 410px - 240px);
}

.contract__type__table .table__features .table__features__search__btn {
    width: auto;
}

.customer__table .table__features .table__features__search__btn button {
    width: 115px;
    height: 40px;
    background-color: #35794a;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-style: none;
    transition: all .5s;
    cursor: pointer;
}

.customer__table .table__features .table__features__search__btn button:hover {
    background-color: white;
    color: #35794a;
    border: 1px solid #35794a;
}

.customer__table .table__features .table__features__search input {
    background-color: #F0F5FA;
    border-radius: 3px;
    border-style: none;
    height: 40px;
    padding-left: 20px;
    width: 200px;
}

.customer__table .table__features .table__features__search input:first-child {
    margin-right: 30px;
    width: 200px;
}

.customer__table .table__features .table__features__search input:nth-child(2){
    margin-right: 30px;
}

.customer__table .table__features .table__features__search input::placeholder {
    color: #666666;
}

.customer__table .table__features .table__features__search .search__from__date {
    margin-right: 30px;
    margin-left: 20px;
}

.customer__table .table__features .table__features__search .search__to__date {
    margin-right: 30px;
}

.customer__table .table__features .table__features__search .search__from__date,
.customer__table .table__features .table__features__search .search__to__date {
    border-bottom: none;
    max-width: 200px;
    outline: none;
    box-shadow: none;
}

.customer__table .table__features .table__features__search .search__from__date .ant-picker-input,
.customer__table .table__features .table__features__search .search__to__date .ant-picker-input {
    width: 100%;
    background-color: #F0F5FA;
    padding-right: 10px;
}

.customer__table .table__features .table__features__search .search__from__date .ant-picker-input > input,
.customer__table .table__features .table__features__search .search__to__date .ant-picker-input > input {
    width: 100%;
    margin-right: 0;
}

.customer__table .table__features .table__features__search .search__from__date .ant-picker-input .ant-picker-clear,
.customer__table .table__features .table__features__search .search__to__date .ant-picker-input .ant-picker-clear{
    right: 10px;
}

.customer__table .table__features .table__features__search .search__select {
    min-width: 150px;
    height: 40px;
}

.customer__table .ant-table-wrapper {
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}

.customer__table ul li.ant-pagination-total-text {
    position: absolute;
    right: 30px;
    margin-right: 0px;
}
.textarea-desc{
    border: 1px solid #A1A5B7;
}
.textarea-desc:focus{
    border: 1px solid #A1A5B7;
    outline: none;
}
.Type_Cus_loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
.customerType .ant-pagination-options {
    position: absolute;
    right: 0px;
}
.customer__table .ant-pagination-next:hover button.ant-pagination-item-link,
.customer__table .ant-pagination-prev:hover .ant-pagination-item-link {
    color: #459C60;
    border-color: #459C60;
}

.customer__table li.ant-pagination-item-active {
    font-weight: 500;
    background: #fff;
    border-color: #459C60;
}
.custumer_title{
    display: flex;
    align-items: center;
}
.custumer_title h2 {
    position: inherit;
    width: auto;
}
.customer__table li.ant-pagination-item-active a {
    color: #459C60;
}

.customer__table ul li.ant-pagination-options {
    position: absolute;
    right: 190px;
}

.customer__table .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: #459C60;
}

.customer__table span.anticon.active svg,
.customer__table span.ant-dropdown-trigger.active span.anticon.anticon-filter svg {
    color: #459C60;
}

ul.ant-pagination {
    padding: 0 30px;
}
.customerType .ant-table-thead > tr{
    background: #459C60 !important;
}

.customer__table .customer__table__tenviettat {
    min-width: 105px;
    padding-left: 30px;
}

.customer__table .customer__table__name {
    padding-left: 30px;
    width: 300px;
}

.customer__table .customer__table__address {
    width: 540px;
}

.customer__table .customer__table__masothue {
    width: 130px;
}

.customer__table .customer__table__phone {
    width: 130px;
}

.customer__table .customer__table__nguoiphutrach {
    min-width: 135px;
}

.customer__table .customer__table__thaotac {
    padding-right: 30px;
    width: 100px;
}

.product__table .product__code {
    padding-left: 30px;
}

span.size-10 {
    font-size: 10;
}

.customer__table .table__thaotac button {
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
    width: 92px;
    height: 32px;
}

.customer__table .table__thaotac button:first-child {
    background: #E0FFF1;
    color: #29B171;
}

.customer__table .table__thaotac button[disabled] {
    background: #F5F8FA;
    cursor: not-allowed;
    color: #A1A5B7;
}

/* Hết CSS customer table */
/* ---------------------------------------- */
/* CSS Modal  */

.create__customer > div {
    background-color: white;
    padding-top: 20px;
}

.ant-modal-content {
    border-radius: 10px;
    overflow: hidden;
    width: 700px;
}

.ant-modal-header {
    padding-top: 57px;
    border-bottom: none;
}

.ant-modal-header .ant-modal-title {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.ant-modal-footer {
    text-align: center;
    padding-bottom: 36px;
    border-top: none;
}

.ant-modal.history__modal .ant-modal-content {
    width: 1000px;
}

.ant-modal.create__sub__contranct__modal .ant-modal-content {
    width: 500px;
}

.contract__service__footer {
    padding: 42px 0px;
    text-align: center;
}

.ant-modal-footer .contract__service__footer {
    display: block;
}

.contract__service__footer button.ant-btn {
    width: 136.5px;
    height: 44px;
    font-size: 18px;
}

button.btn__cancel {
    background: #FFFFFF;
    border: 1px solid #35794A;
    border-radius: 3px;
    color: #35794A;
    margin-right: 10px;
}

button.btn__add {
    background: #35794A;
    border: 1px solid #35794A;
    border-radius: 3px;
    color: white;
}

div.ant-radio-group {
    text-align: center;
    display: block;
}

.ant-radio-checked .ant-radio-inner {
    background: #35794A;
    border: none;
}

.ant-radio-checked .ant-radio-inner::after {
    width: 0;
    height: 0;
}

.ant-radio:hover .ant-radio-inner {
    border-color: #35794A;
}

.modal__hidden {
    height: 100%;
    background: transparent;
}

.modal__hidden .ant-modal-content {
    background: transparent;
    height: 100%;
    box-shadow: none;
}

.modal__hidden .ant-modal-content .ant-modal-body {
    height: 100%;
}

.create__customer .client__files,
.create__contract__inforCustomer .infor__customer .client__files,
.create__contract__payment .client__files {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1rem;
}

.create__contract__payment .client__files {
    justify-content: left;
}

.create__customer .client__files > .ant-image,
.create__contract__inforCustomer .infor__customer .client__files > .ant-image,
.create__contract__payment .client__files > .ant-image {
    display: none;
}

.detail__infor__modal .modal__upload .client__files {
    display: flex;
}

.detail__infor__modal .modal__upload .upload__file,
.create__contract__inforCustomer .infor__customer .client__files .upload__file,
.create__contract__payment .client__files .upload__file {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create__customer .client__files .upload__file,
.detail__infor__modal .modal__upload .upload__file,
.create__contract__inforCustomer .infor__customer .client__files .upload__file,
.create__contract__payment .client__files .upload__file  {
    position: relative;
    margin-right: 1rem;
    width: 40px;
    height: 40px;
    border: 1px dotted green;
    padding-top: 3px;
}

.create__customer .client__files .upload__file > svg:nth-child(2),
.detail__infor__modal .modal__upload  .upload__file > svg:nth-child(2), 
.create__contract__payment .client__files .upload__file > svg:nth-child(2) {
    position: absolute;
    top: -5px;
    right: -5px;
    color: red;
    cursor: pointer;
    z-index: 100;
    background-color: white;
}

div.modal__content .modal__field__select {
    width: 525px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 21px;
}

div.modal__content .modal__field__select label {
    display: block;
    padding-left: 9px;
}

.create__customer div.modal__content div.modal__field__select div.customer__select div.ant-select-selector,
div.modal__content div.customer__select div.ant-select-selector {
    border: none;
    border-color: transparent;
    box-shadow: none;
    background-color: transparent;
}

div.modal__content {
    text-align: center;
    margin-top: 25px;
    
}

div.donor__modal .donor__list {
    text-align: center;
    /* padding-left: 50px; */
    max-width: 525px;
    margin: 0 auto 15px auto;
}

div.donor__modal label {
    display: block;
    width: auto;
    text-align: left;
}

.evidence__table td.evidence {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

div.modal__content .modal__field {
    position: relative;
}

div.modal__content .modal__field,
div.modal__content .modal__two__field {
    margin-bottom: 21px;
}

div.modal__content .modal__field.field__select {
    display: flex;
    padding-left: 63px;
}

div.modal__content .modal__field.field__select.width_525 div.acceptance__list {
    width: 525px;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 20px;
}

div.modal__content .modal__field.field__select.width_525 div.acceptance__list div.acceptance__row {
    display: flex;
    justify-content: space-between;
    padding-left: 9px;
    align-items: center;
}

div.modal__content .modal__field.field__select.width_525 div.acceptance__list div.acceptance__row > input {
    width: auto;
}

div.modal__content .modal__field.field__select.width_525 div.acceptance__list div.acceptance__row > span:nth-child(2) {
    width: 80px;
}

div.modal__content .modal__field.field__select.width_525 div.acceptance__list div.acceptance__row > span:nth-child(3) {
    min-width: 80px;
    max-width: 250px;
    text-align: right;
}

div.modal__content .modal__field .ant-picker .ant-picker-input {
    width: 44%;
}

div.modal__report__content .modal__field .ant-radio-group {
    width: min-content;
}

div.modal__report__content .modal__field .ant-radio-group .ant-radio input {
    width: min-content;
}

.reciept__table .receipt__table__report__date {
    padding-left: 30px;
}

div.modal__report__content .modal__field.modal__report__upload input {
    width: 459.61px;
    overflow: hidden;
}

div.modal__content .modal__field.field__select .report__date.ant-picker {
    box-shadow: none;
}

div.modal__content .modal__field.field__select .report__date.ant-picker:hover {
    border-color: #CCCCCC;
}

div.modal__content .modal__field.field__select .report__date.ant-picker .ant-picker-input {
    width: 100%;
}

div.modal__content .modal__field.field__select .report__date.ant-picker .ant-picker-input input {
    border-radius: 0;
    border: none;
    background-color: transparent;
}

div.modal__content .modal__field .ant-picker .ant-picker-clear {
    top: 36%;
}

div.modal__content .modal__field.field__select>div div.ant-select .ant-select-selector,
div.ant-modal-body div.modal__content div.ant-select.customer__select div.ant-select-selector {
    border: none;
    padding: 0;
    box-shadow: none;
    width: 100%;
    background-color: transparent;
}

div.modal__content .modal__field.field__select>div div.ant-select .ant-select-selector .ant-select-selection-search {
    width: 100%;
    left: 0;
}

div.modal__content .modal__field.field__select .ant-select-selection-search>input,
div.modal__content .modal__field.field__select .ant-select-selection-placeholder {
    color: #666666;

}

div.modal__content .modal__field.field__select>div div.ant-select .ant-select-selector {
    text-align: left;
}

.showInforBusiness {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 1px;
}

div.modal__content .modal__field > input,
div.modal__content .modal__two__field > .field__input input {
    transition-property: border, border-radius;
    transition-duration: 0.5s;
}

div.modal__content div.modal__field > input {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    width: 525px;
    padding: 9px 0 9px 9px;
    outline: none;
    color: #666666;
    font-size: 15px;
    background-color: transparent;
}

div.modal__content .modal__field input:focus,
div.modal__content .modal__field input:not([value=""]) {
    outline: none;
    border: 1px #CCCCCC solid;
    border-radius: 10px;
    width: 525px;
}

div.modal__content .modal__field.modal__report__upload > label {
    transform: none;
    position: inherit;
    padding-left: 9px;
    display: block;
}

div.detail__infor__modal .ant-modal-body .modal__report__upload,
div.detail__infor__modal .ant-modal-body .modal__upload {
    padding-left: 63px;
}

div.detail__infor__modal .ant-modal-body .modal__report__upload label {
    display: block;
}

div.modal__content .modal__field textarea,
div.detail__infor__modal .ant-modal-body .modal__report__upload textarea {
    width: 525px;
    display: block;
    margin-bottom: 21px;
    outline: none;
    max-height: 150px;
    min-height: 95px;
    border: 1px #CCCCCC solid;
    border-radius: 10px;
    padding: 0 9px 9px 9px;
}

div.modal__content .modal__field.field__select.modal__report__upload {
    display: block;
    text-align: left;
}

div.modal__content .modal__field input:focus ~ label,
div.modal__content .modal__field input:not([value=""]) ~ label {
    top: -12px;
    font-size: 15px;
    background-color: #fff;
    font-weight: bold;
}

div.modal__content .modal__two__field > .field__input {
    position: relative;
}

div.modal__content .modal__two__field > .field__input label,
div.modal__content .modal__field  > label {
    position: absolute;
    font-size: 15px;
    top: 23%;
    transform: translateX(-231px);
    color: #666666;
    pointer-events: none;
    transition: all 0.5s;
    width: max-content;
    text-align: left;
}

div.modal__content .modal__field  > label {
    transform: translateX(-515px);
}

.width__241 {
    width: 241px;
    display: inline-block;
}

div.modal__content .modal__two__field > .field__input input:focus,
div.modal__content .modal__two__field > .field__input input:not([value=""]) {
    outline: none;
    border: 1px #CCCCCC solid;
    border-radius: 10px;
}

div.modal__content .modal__two__field > .field__input input:focus ~ label,
div.modal__content .modal__two__field > .field__input input:not([value=""]) ~ label {
    top: -12px;
    font-size: 15px;
    background-color: #fff;
    font-weight: bold;
}

div.modal__content .modal__two__field > input,
div.modal__content .modal__two__field > .field__input input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    width: 241px;
    padding: 9px 0 9px 9px;
    outline: none;
    color: #666666;
    font-size: 15px;
}

div.modal__content .modal__two__field > input:first-child,
div.modal__content .modal__two__field > .field__input:first-child {
    margin-right: calc(525px - (241px * 2));
}

div.modal__content .modal__field.two__fields {
    text-align: left;
    padding-left: 63px;
}

div.modal__content .modal__field.two__fields>input {
    width: 245px;
}

div.modal__content .modal__field.two__fields>input:first-child {
    margin-right: 35px;
}

section.ant-layout table input {
    border-style: solid;
}

div.modal__upload {
    /* padding-left: 63px; */
    text-align: left;
    /* transform: translateX(525px); */
    width: 525px;
    display: inline-block;
}

div.modal__upload>span {
    color: #666666;
    font-size: 15px;
}

div.modal__upload>input {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    opacity: 0;
    z-index: -1;

}

div.modal__upload label {
    display: block;
    width: 110px;
    height: 110px;
    text-align: center;
    border: 1px dashed #CCCCCC;
    padding-top: 34px;
    color: #AAAAAA;
    margin-top: 15px;
    cursor: pointer;
}

div.modal__upload label>svg {
    width: 16px;
    height: 18px;
}

div.client__files > .ant-image {
    display: inline-flex;
    width: 100px;
    height: 100px;
}

a.dowload__file {
    text-decoration: none;
    margin: 0 20px 0 0;
    cursor: s-resize;
}

a.dowload__file:nth-child(2) {
    margin-left: 20px;
}

/* Hết CSS Modal */
/* ------------------------------------ */
/* CSS Contract Table */

div.contract__table .table__features .table__features__search input {
    margin-right: 37px;
}

div.contract__table .table__features .table__features__search > input:first-child {
    width: 200px;
}

div.contract__table .table__features .table__features__search input:nth-child(2) {
    width: 200px;
}

div.contract__table .table__features .table__features__search input:nth-child(3) {
    width: 251px;
    /* margin-left: 37px; */
}

div.contract__table .table__features .table__features__search input:nth-child(4) {
    margin-right: 0;
}

div.contract__table .table__features .table__features__search .search__select,
div.product__table .table__features .table__features__search .search__select,
div.acceptance__table .table__features .table__features__search .search__select {
    width: 251px;
    height: 40px;
    margin-right: 37px;
}

div.contract__table .table__features .table__features__search .search__select > .ant-select-selector,
div.product__table .table__features .table__features__search .search__select > .ant-select-selector,
.customer__table .table__features .table__features__search .search__select > .ant-select-selector  {
    height: 100%;
    width: 100%;
    background-color: #F0F5FA;
    border-radius: 3px;
    border-style: none;
}

div.contract__table .table__features .table__features__search .search__select > .ant-select-selector > .ant-select-selection-search,
div.product__table .table__features .table__features__search .search__select > .ant-select-selector > .ant-select-selection-search,
.customer__table .table__features .table__features__search .search__select > .ant-select-selector > .ant-select-selection-search {
    height: 100%;
    width: 100%;
}

div.contract__table .table__features .table__features__search .search__select > .ant-select-selector > .ant-select-selection-placeholder,
div.contract__table .table__features .table__features__search .search__select > .ant-select-selector > .ant-select-selection-item,
div.product__table .table__features .table__features__search .search__select > .ant-select-selector > .ant-select-selection-placeholder,
div.product__table .table__features .table__features__search .search__select > .ant-select-selector > .ant-select-selection-item,
div.reciept__table .table__features .table__features__search .search__select > .ant-select-selector > .ant-select-selection-placeholder,
div.reciept__table .table__features .table__features__search .search__select > .ant-select-selector > .ant-select-selection-item  {
    line-height: 40px;
    color: #666666;
   
}
.payment .table__features .table__features__search .search__select >.select_option{
   
}
.payment .table__features .table__features__search .search__select input:first-child{
    max-width: 100px !important;

}
 .payment .table__features .table__features__search > input{
    padding: 10px;  width: 120px !important;
}
.payment .table__features .table__features__search > input[placeholder="Tên khách hàng"],
.payment .table__features .table__features__search > input[placeholder="Số hợp đồng"] {
   
    margin-right:10px !important;
  
}
.payment .table__features .table__features__search .search__from__date,.payment .table__features .table__features__search .search__to__date {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.payment .table__features .table__features__search .search__select>.ant-select-selector{
    margin-left: 10px !important;
}
.contract__table .contract__table__soHopDong {
    padding-left: 30px;
    width: 180px;
}

.contract__table .contract__table__customerName {
    width: auto;
    max-width: 200px;
}

.contract__table .contract__table__time {
    width: 200px;
}

.contract__table td.contract__table__customerName,
.contract__table td.contract__table__status {
    font-weight: bold;
}

.contract__table td.contract__table__status>span[status^="đang"] {
    color: #F1416C;
}

.contract__table td.contract__table__status>span[status^="kết"] {
    color: #29B171;
}

.create__contract .create__contract__content .two__field input:first-child {
    margin-right: 54px;
}

/* Hết CSS Contract table */
/* ------------------------------------- */
/* CSS Create Contract */

.create__contract .create__contract__content {
    background: #FFFFFF;
    border-radius: 12px;
}

.create__contract .border_bottom_3px {
    border-bottom: 3px solid #EEF0F8;
    ;
}

.create__contract .create__contract__content .create__contract__header {
    padding: 20px 0 20px 26px;
}

.create__contract .create__contract__content .create__contract__header>h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    width: 100%;
    position: initial;
}

.create__contract__inforCustomer .field__input_2 .ant-select-disabled .ant-select-selection-item {
    color: #666666;
}

.create__contract .create__contract__inforCustomer,
.create__contract .create__contract__contactInfor,
.create__contract .create__contract__value,
.create__contract .create__contract__payment,
.create__contract .create__contract__term,
.create__contract .create__contract__chiTieu {
    padding: 23px 0 36px 118px;
}

.create__contract .create__contract__inforCustomer .display__flex > p,
.create__contract .create__contract__contactInfor .display__flex,
.create__contract .create__contract__value p,
.create__contract .create__contract__payment .display__flex,
.create__contract .create__contract__term .display__flex,
.create__contract .create__contract__chiTieu .display__flex {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.create__contract .create__contract__term > .term__table {
    max-height: 600px;
    overflow: hidden;
}

.create__contract .create__contract__term > .term__table.table__showmore {
    height: auto;
    max-height: fit-content;
}

.create__contract .create__contract__inforCustomer .display__flex > p {
    margin-bottom: 0;
}

.create__contract .create__contract__inforCustomer .display__flex > img {
    width: 22px;
    height: 22px;
    cursor: help;
}

.create__contract .create__contract__chiTieu .display__flex {
    display: flex;
    align-items: center;
}

.create__contract .create__contract__chiTieu .display__flex > p{
    margin-right: 14px;
}

.create__contract .create__contract__chiTieu .display__flex > input {
    width: 262px;
}

.create__contract .create__contract__chiTieu .display__flex > input:first-child{
    margin-right: 54px;
}

.create__contract .create__contract__payment p {
    margin-bottom: 20px;
}

.contract__table .contract__table__loaiHopDong,
.contract__type__table .contract__type {
    padding-left: 30px;
}

.contract__payment__total {
    margin-top: 20px;
    width: 916px;
    text-align: right;
}

.contract__payment__total .price {
    color: #F1416C;
    font-weight: bold;
    display: block;
    width: 100%;
    position: initial;
}

.contract__payment__total h2.price span {
    margin-left: 50px;
    min-width: 250px;
    display: inline-block;
}

.create__contract .create__contract__inforCustomer .field__flex {
    display: flex;
}

.create__contract .create__contract__inforCustomer .field__input input,
.create__contract .create__contract__value .field__input_2 input {
    width: 430px;
    height: 42px;
}

.create__contract .create__contract__inforCustomer .field__input .date__range__picker {
    width: 430px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    outline: none;
    box-shadow: none;
    height: 42px;
}

.create__contract .create__contract__inforCustomer .field__input .date__range__picker .ant-picker-input {
    width: 44%;
}

.create__contract .create__contract__value .field__input_2 .ant-select {
    width: 430px;
}

.create__contract .create__contract__value .field__input_2 .ant-select div.ant-select-selector {
    border: none;
    padding: 0;
    box-shadow: none;
    width: 100%;
}

.create__contract .create__contract__value .field__input_2 .ant-select div.ant-select-selector .ant-select-selection-search {
    width: 100%;
    left: 0;
}

.create__contract .create__contract__value .field__input_2 .ant-select div.ant-select-selector .ant-select-selection-search>input,
.create__contract .create__contract__value .field__input_2 .ant-select div.ant-select-selector .ant-select-selection-placeholder {
    color: #666666;
}

.create__contract .create__contract__inforCustomer .field__input>div.contract__field {
    width: 432px;
    display: flex;
    align-items: center;
    margin-right: 54px;
    position: relative;
}

.create__contract .create__contract__inforCustomer .infor__customer .field__input>div.contract__field {
    margin-top: 20px;
}

.create__contract .create__contract__inforCustomer .field__input>div.contract__field input {
    margin: 0;
    transition-property: border, border-radius;
    transition-duration: 0.5s;
    padding-top: 9px;
}

.create__contract .create__contract__inforCustomer .field__input>div.contract__field input:not([value=""]),
.create__contract .create__contract__inforCustomer .field__input>div.contract__field input:focus {
    outline: none;
    border: 1px #CCCCCC solid;
    border-radius: 10px;
}

.create__contract .create__contract__inforCustomer .field__input>div.contract__field input:not([value=""]) ~ label,
.create__contract .create__contract__inforCustomer .field__input>div.contract__field input:focus ~ label {
    top: -12px;
    background-color: #fff;
    font-weight: bold;
}

.create__contract .create__contract__inforCustomer .field__input>div.contract__field label {
    position: absolute;
    top: 9px;
    left: 9px;
    color: #666666;
    font-size: 15px;
    transition: all 0.5s;
    pointer-events: none;
}

.create__contract .create__contract__inforContract .field__input>div.contract__field label#soHD {
    top: 31px;
}

.create__contract .create__contract__inforContract .field__input>div.contract__field input:not([value=""]) ~ label#soHD,
.create__contract .create__contract__inforContract .field__input>div.contract__field input:focus ~ label#soHD {
    top: 9px;
}

.create__contract .create__contract__inforCustomer .field__input.field__flex > div.field__input_2,
.create__contract .create__contract__inforCustomer .field__input.field__flex > div.infor__customer,
.create__contract .create__contract__inforCustomer .field__input.field__flex > div.infor__owner {
    display: block;
}

.create__contract .create__contract__inforCustomer .field__input.field__flex > div.field__input_2 >label {
    padding-left: 9px;
}

.create__contract .create__contract__inforCustomer .field__input>div:not(.contract__field) {
    width: 432px;
    display: flex;
    align-items: center;
    margin-right: 54px;
}

.create__contract__value .field__input_3 .contract__field {
    width: 200px;
    margin-right: 39px;
    position: relative;
    display: inline-block;
}

.create__contract__value .field__input_3 .contract__field:last-child {
    margin-right: 0;
}

.create__contract__value .field__input_3 .contract__field input {
    width: 100%;
    transition-property: border, border-radius;
    transition-duration: 0.5s;
    padding-top: 9px;
}

.create__contract__value .field__input_3 .contract__field label {
    position: absolute;
    top: 9px;
    left: 9px;
    color: #666666;
    font-size: 15px;
    transition: all 0.5s;
    pointer-events: none;
}

.create__contract__value .field__input_3 .contract__field input:focus,
.create__contract__value .field__input_3 .contract__field input:not([value=""]){
    outline: none;
    border: 1px #CCCCCC solid;
    border-radius: 10px;
}

.create__contract__value .field__input_3 .contract__field input:focus ~ label,
.create__contract__value .field__input_3 .contract__field input:not([value=""]) ~ label {
    top: -12px;
    background-color: #fff;
    font-weight: bold;
}

.create__contract__value .field__input_3 .contract__field label.pink__color {
    color: #F1416C;
}

.term__label {
    display: inherit;
    text-align: left;
    padding-left: 9px;
}

.create__contract .create__contract__inforCustomer .field__input>div .ant-select-selection-search input {
    width: 398px;
    margin-right: 12px;
    color: #666666;
}

.create__contract .create__contract__inforCustomer .field__input>div .ant-select-selection-search input::placeholder {
    color: #666666;
}

.margin_right_54 {
    margin-right: 54px;
}

.create__contract .create__contract__inforCustomer .field__input {
    margin-bottom: 14px;
}

.create__contract .create__contract__inforCustomer .field__input:last-child {
    margin-bottom: 0;
}

.create__contract .create__contract__inforCustomer .field__input>div>svg,
.create__contract svg {
    cursor: pointer;
}

.create__contract.content .create__contract__content .create__contract__inforCustomer .field__input>div .ant-select {
    width: 408px;
}

.create__contract.content .create__contract__content .create__contract__inforCustomer.create__contract__inforContract .field__input>div .ant-select  {
    width: 100%;
}

.create__contract.content .create__contract__content .create__contract__inforCustomer div.ant-select-selector {
    border: none;
    padding: 0;
    box-shadow: none;
    width: 100%;
    background-color: transparent;
}

.create__contract.content .create__contract__content .create__contract__inforCustomer div.ant-select-selector .ant-select-selection-search {
    width: 100%;
    left: 0;
}

.create__contract.content .create__contract__content .create__contract__inforCustomer div.ant-select-selector .ant-select-selection-placeholder {
    color: #666666;
}

.create__contract .create__contract__inforCustomer .ant-picker:hover,
.create__contract .create__contract__payment .ant-picker:hover,
.contract__service .ant-picker:hover {
    border-color: #CCCCCC;
}

.create__contract .create__contract__payment .ant-picker-input input,
.create__contract .create__contract__inforCustomer .ant-picker-input input::placeholder,
.create__contract .create__contract__payment .ant-picker-input input::placeholder,
.contract__service .ant-picker-input input::placeholder {
    color: #666666;
}

.create__contract .create__contract__contactInfor .display__flex>p,
.create__contract .create__contract__payment .display__flex>p,
.create__contract .create__contract__term .display__flex>p,
.create__contract .create__contract__value .display__flex>p {
    margin-right: 14px;
}

.create__contract .create__contract__contactInfor .display__flex,
.create__contract .create__contract__payment .display__flex,
.create__contract .create__contract__term .display__flex,
.create__contract .create__contract__value .display__flex {
    display: flex;
    align-items: center;
}

.create__contract .create__contract__contactInfor .field__input_3 input {
    width: 265px;
    margin-right: 59.05px;
}

.create__contract .create__contract__contactInfor .field__input_3,
.create__contract .create__contract__value .field__input_2 {
    margin-bottom: 14px;
}

.create__contract .create__contract__contactInfor .field__input_3 input:last-child {
    margin-right: 0;
}

.create__contract .create__contract__contactInfor .field__input input {
    width: 913px;
}

.create__contract .create__contract__value .contract__value__note > textarea {
    width: 916px;
    min-height: 76px;
    max-height: 200px;
    /* resize: none; */
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-top: 33px;
    padding: 10px 0 0 15px;
    outline: none;
}

.create__contract .create__contract__value .field__input_3:nth-child(3) {
    margin-top: 33px;
}

.create__contract .create__contract__value .field__input_3 {
    display: flex;
    max-width: 916px;
    justify-content: space-between;
}

.create__contract .create__contract__value .contract__value__note {
    position: relative;
}

.create__contract .create__contract__value .contract__value__note > label {
    position: absolute;
    top: 23px;
    left: 15px;
    background-color: white;
    transition: all 0.5s;
}

.create__contract .create__contract__payment .ant-picker {
    margin-right: 54px;
}

.create__contract .create__contract__payment .ant-picker,
.create__contract .create__contract__payment input {
    width: 262px;
}

.create__contract .create__contract__payment .ant-picker-focused,
.contract__service div.ant-picker-focused {
    box-shadow: none;
}

.create__contract .create__contract__payment .contract__payment__process .payment__contract {
    display: flex;
    justify-content: space-between;
    width: 916px;
    border-bottom: 1px solid #EEEFF3;
    padding: 18px 0;
    cursor: pointer;
}

.create__contract .create__contract__payment .contract__payment__process .payment__contract>span:first-child {
    font-weight: bold;
}

.create__contract .create__contract__payment .contract__payment__process .payment__contract>span:last-child {
    color: #F1416C;
    font-weight: bold;
    min-width: 125px;
    text-align: right;
    min-width: 250px;
    max-width: 250px;
}

.payment__infor__modal .payment__infor__modal__content .create__contract__term {
    padding-left: 0;
}

#soDotThanhToan {
    outline: none;
    border: 1px #CCCCCC solid;
    border-radius: 10px;
    background-color: white;
    margin-left: 15px;
}

.create__contract__payment .display__flex.contract__payment {
    justify-content: space-between;
    width: 916px;
    align-items: flex-start;
}

.create__contract__payment .soDotThanhToan > select {
    font-size: 18px;
    color: #666666;
    width: fit-content;
}

.create__contract .create__contract__term table,
.create__contract__payment .history__table table {
    max-width: 916px;
}

.create__contract__payment .history__table table tbody tr {
    cursor: pointer;
}

.create__contract__payment .history__table.table__expand__less {
    height: 330px;
    overflow: hidden;
}

.create__contract__payment .expand__more,
.create__contract .create__contract__term .expand__more {
    width: 916px;
    text-align: center;
}

.create__contract__payment .expand__more svg,
.create__contract .create__contract__term .expand__more svg {
    font-size: 25px;
}

.create__contract__payment .contract__payment__process.expand__payment__less {
    height: 300px;
    overflow: hidden;
}

.create__contract .create__contract__term table th {
    background-color: white;
    color: #999999;
}

.create__contract .create__contract__term table tr:hover>td {
    background-color: white;
}

.create__contract .create__contract__term table tr td.price {
    color: #F1416C;
}

.create__contract .create__contract__term table .donGia {
    width: fit-content;
}

.create__contract .create__contract__term table .quality {
    width: fit-content;
}

.create__contract .create__contract__term table .item {
    max-width: 250px;
}

.create__contract .create__contract__term table .thaoTac div {
    display: flex;
    justify-content: space-between;
}

.create__contract .create__contract__term table .price {
    width: 150px;
}

.create__contract .create__contract__term .history__table table th.quality {
    width: 100px;
    max-width: 100px;
}

.create__contract .create__contract__term .history__table table th.price {
    width: 20%;
    max-width: 200px;
}

.create__contract .create__contract__term table td.item,
.create__contract .create__contract__term table td.price {
    font-weight: bold;
}

.create__contract .create__contract__term table .thaoTac {
   width: fit-content;
}

.create__contract .create__contract__term table .thaoTac>button:not(.btn__green) {
    background: #FFEEF3;
    border-radius: 4px;
    color: #F1416C;
    width: 92px;
    height: 32px;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
}

.create__contract .create__contract__term table .thaoTac>button:not(.btn__green):hover {
    border: 1px solid #F1416C;
    background-color: white;
    color: #F1416C;
}

.create__contract .create__contract__term .display__flex svg {
    color: #639a79;
    font-size: 22px;
}

.create__contract .create__contract__term .display__flex div.upload__file {
    position: relative;
    width: 22px;
    height: 22px;
    margin: 0 10px;
}

.create__contract .create__contract__term .display__flex div.upload__file input {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 0;
    left: 0;
}

.create__contract .create__contract__footer {
    padding: 28px 0 28px 0;
    margin-left: 118px;
    width: 916px;
    text-align: right;
}

.create__contract .create__contract__footer .footer__btn {
    width: 135px;
    height: 44px;
    /* margin-right: 40px; */
    border-radius: 3px;
    cursor: pointer;
}

.create__contract .create__contract__footer .footer__btn.btn__delete {
    background-color: white;
    color: #35794A;
    border: 1px solid #35794A;
}

.create__contract .create__contract__footer .footer__btn.btn__review {
    background: #3699FF;
    border: 1px solid #3699FF;
    color: white;
}

.create__contract .create__contract__footer .footer__btn.btn__create {
    margin-right: 0;
    background: #35794A;
    border: 1px solid #35794A;
    color: white;
    margin-left: 40px;
}

div.ant-select-dropdown {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
}

div.ant-select-dropdown div.ant-select-item {
    border-bottom: 1px solid #DDDDDD;
    padding-top: 12px;
    padding-bottom: 12px;
}

.create__contract__value.more__detail .field__input.field__flex .ant-select-selector {
    border: none;
    padding-left: 0;
    color: #666666;
    box-shadow: none;
}

.more__detail .field__input .ant-select-selection-placeholder {
    color: #666666;
}

.create__contract__value.more__detail .field__input.field__flex .style {
    width: 300px;
}

.more__detail .contract__complete {
    width: 550px;
    top: 20px;
    left: 66px;
}

.not__allow {
    cursor: not-allowed;
}

.btn__green {
    background: green;
    color: white;
    padding: 3px 6px;
    width: max-content;
    height: 32px;
    cursor: pointer;
}

button.btn__green[disabled] {
    visibility: hidden;
}

.create__contract__term .term__table .thaoTac svg {
    padding: 2px;
    background-color: green;
    height: 32px;
    width: 32px;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
}

.create__contract__term .term__table .thaoTac svg:last-child {
    background-color: #F1416C;
}

svg.style__svg {
    padding: 2px;
    background-color: green;
    height: 32px;
    width: 32px;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
}

.create__contract__term .term__table .ant-table table tr.ant-table-expanded-row-level-1 td,
.create__contract__term .term__table .ant-table table tr.ant-table-expanded-row-level-1:hover td,
.reciept__table.customer__table .ant-table table tr.ant-table-expanded-row-level-1 td, 
.reciept__table.customer__table .ant-table table tr.ant-table-expanded-row-level-1:hover td {
    background-color: transparent;
    color: black;
}

.expand__table .ant-table-cell > a:first-child {
    margin-right: 10px;
}

.expand__table .ant-table-cell.thaoTac {
    padding: 0;
}

.width__50 {
    width: 47%;
    margin: 0 auto;
}

.product__TypeAndAtt__table .display__inline__flex {
    width: 100%;
    
}

.display__inline__flex {
    display: inline-flex;
    background-color: white;
    border-radius: 12px;
}

.product__TypeAndAtt__table {
    /* padding: 35px 40px 0 40px; */
    margin-right: 0;
    /* margin-top: 119px; */
}

.product__TypeAndAtt__table .type__name,
.product__TypeAndAtt__table .attribute__name {
    padding-left: 30px;
}

.antd__auto__complete__style {
    height: 40px;
    width: 200px;
    margin-right: 37px;
}

.product__TypeAndAtt__table div.antd__auto__complete__style div.ant-select-selector {
    width: 100%;
    height: 100%;
    background-color: #F0F5FA;
}

.product__TypeAndAtt__table div.antd__auto__complete__style div.ant-select-selector .ant-select-selection-placeholder {
    line-height: 40px;
}

.antd__auto__complete__style .ant-select-selector .ant-select-selection-search input.ant-select-selection-search-input {
    
    border-radius: 3px;
    border-style: none;
    width: 100%;
    height: 100%;
}

.history__modal .modal__content.create__contract__content .create__contract__term,
.history__modal .modal__content.create__contract__content .create__contract__value {
    padding-left: 0;
}

.history__modal .modal__content.create__contract__content .create__contract__value {
    text-align: left;
}

.history__modal .modal__content.create__contract__content .create__contract__value .field__input_3 .contract__field:last-child {
    margin-right: 0;
}

/* Hết CSS create contract */
/* ----------------------------------------------------- */
/* CSS event */

.event__table .event__table__name {
    padding-left: 30px;
}

.event__donors > ol {
    padding-left: 30px;
    margin-top: 15px;
    width: fit-content;
}

.event__donors > ol > a {
    color: black;
}

.event__content .event__donors > div.display__flex {
    align-items: flex-start;
}

/* hết Event */
/* ------------------------------------- */
/* nghiệm thu & hóa đơn */

.detail__desc > div > input {
    width: 525px;
    padding: 9px 0 9px 9px;
    color: #666666;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #CCCCCC;
}

.acceptance__expand__table {
    margin-left: 65px;
}

.acceptance__expand__table > li > div {
    display: inline-block;
    width: 15%;
}

.receipt__modal__acceptance__list {
    width: 525px;
    margin: auto;
}

.receipt__modal__acceptance__list div {
    width: 50%;
    margin: auto;
    text-align: center;
    max-height: 150px;
    overflow-y: auto;
}

.receipt__modal__acceptance__list div ol {
    margin-bottom: 0;
    width: fit-content;
    margin: auto;
}


.receipt__modal__acceptance__list div ol li {
    text-align: left;
}

.receipt__modal__acceptance__values {
    width: 525px;
    margin: auto;
    padding-top: 20px;
}

.receipt__modal__acceptance__values h3 {
    text-align: left;
}

.cancel__receipt__modal .field__select .modal__field p {
    text-align: left;
}

.cancel__receipt__modal .field__select .modal__field textarea {
    width: 525px;
    resize: none;
}

/* Hết nghiệm thu & hóa đơn */
/* ------------------------- Responsive -------------------- */

@media only screen and (max-width: 1280px){
    .customer__table .customer__table__tenviettat {
        min-width: 116px;
    }
    .customer__table .customer__table__name {
        min-width: 110px;
    }
    .contract__table .contract__table__loaiHopDong {
        min-width: 137px;
    }
    .contract__table .contract__table__customerName {
        min-width: 133px;
        width: fit-content;
    }
    .contract__table .contract__table__time {
        min-width: 154px;
    }
    .contract__table .contract__table__status {
        min-width: 95px;
    }
    .contract__table .contract__table__nguoiDauMoi {
        min-width: 126px;
    }
    .contract__table .contract__table__nguoiTheoDoi {
        min-width: 126px;
    }
}

/* ----------------------- Hêt responsive ---------------------- */